canvas {
	background: #fff;
	margin-right: 10px;
	border: 1px solid gray;
}

textarea {
	height: 160px;
	max-height: 160px;
	width: 300px;
	margin-right: 20px;
	font-family: Arial;
	font-size: 12px;
}
spacehor {
	margin-left: 10px;
}

table {
	margin-bottom: 10px;
}

td {
	font-family: Arial;
	font-size: 12px;
}

tr.spaceUpper > td {
  padding-top: 1em;
}

h1 {
	color: #999;
	font-family: Arial;
	font-style: italic;
}

div {
	display: inline-block;
	/*border: 1px dashed gray;*/
}

input {
	width: 50px;
	text-align: left;
	font-family: Arial;
	font-size: 12px;
}

button {
	width: 70px;
}